/* Add any additional styles here */
.speed-info {
    color: #ffffff;
    text-align: center;
    margin-top: 300px; 
}

  

.speed-info h1,
.show-more-info,
#downloadSpeedDetails,
#uploadSpeedDetails,
.error-message {
    display: block;
    margin: 0 auto;
    text-align: center;
}

/* Add the common styling for the hover effect */
.speed-info h1:hover,
.show-more-info:hover,
#downloadSpeedDetails:hover,
#uploadSpeedDetails:hover,
.error-message:hover {
    transform: scale(1.3);
    transition: transform 0.5s ease-in-out;
}


.speed-info h1 {
    
    font-size: 25px;
    color: #ebebeb;
    margin: 0;
}

.show-more-info {
    display: inline-block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.spinner {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 4px solid transparent;
    border-top: 4px solid #ff0000; /* Change color as desired */
    border-bottom: 4px solid #0068d6; /* Change color as desired */
    animation: spin 1s linear infinite;
    margin: 20px auto;
}

.speed-details {
    color: #ffffff;
    text-align: center;
    display: none;
}

#downloadSpeedDetails,
#uploadSpeedDetails {
    color: #000000;
    font-size: 24px;
    margin: 10px 0;
    display: inline-block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.error-message {
    color: #dc3545;
    font-size: 18px;
    padding: 15px;
    
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    /* Center the error message */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Optional: Add a subtle animation for a polished effect */
.error-message:hover {
    transform: scale(1.02);
    transition: transform 0.3s ease-in-out;
}



body {
    margin: 0;
    overflow: hidden;
}

#bgVideo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.speed-info,
.speed-details,
.error-message {
    position: relative;
    z-index: 1;
}

/* Add any additional styles for the video container if needed */
/* ... */

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
